### Series

In [2]:
import pandas as pd
import numpy as np

In [11]:
sr1 = pd.Series([5, 6, 1, 3, 12, 9])
sr1

0     5
1     6
2     1
3     3
4    12
5     9
dtype: int64

In [12]:
sr1.values

array([ 5,  6,  1,  3, 12,  9], dtype=int64)

In [13]:
sr1.values.reshape(2,3)

array([[ 5,  6,  1],
       [ 3, 12,  9]], dtype=int64)

In [16]:
type(sr1.values)

numpy.ndarray

In [18]:
sr1.index

RangeIndex(start=0, stop=6, step=1)

In [19]:
sr2 = pd.Series([4, 3, 83, 38], 
                index=['my', 'name', 'is', 'stepa'])
sr2

my        4
name      3
is       83
stepa    38
dtype: int64

In [21]:
sr2['my']

4

In [36]:
d = {
    'my': 12, 
    'name': 34,
    'is': 232,
    'stepa': 700
}

In [37]:
sr3 = pd.Series(d)

In [38]:
sr3

my        12
name      34
is       232
stepa    700
dtype: int64

In [39]:
for i in sr2:
    print(i)

4
3
83
38

# DataFrame

In [40]:
states = pd.DataFrame({'population': sr3, 'area': sr2})
states

       population  area
my             12     4
name           34     3
is            232    83
stepa         700    38